<form action='/review' method='POST'>
    <label> Rate the Interview
        <input type='text' name='interview_rating' placeholder='Rate the Interview'/>
    </label>
    <label>Whiteboarding
        <input type='text' name='whiteboarding_rating' placeholder='Rate the Whiteboard'/>
    </label>
    <label>Did you get a job?
        <input type='text' name='job_offer' placeholder='Job?'/>
    </label>
    <textarea name='comments' placeholder='Leave comments here....'></textarea>
    <button type='submit'>Save Review</button>
</form>
